* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Sans-Serif !important;
}

.usi_page {
  display: flex;
  background-color: #e6f9ff;
  padding: 7px;
  max-width: 1200px;
  height: 100%;
}

a {
  text-decoration: none;
}
