* {
    margin: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Sans-Serif !important;
}

.usi_page {
    display: block;
    background-color: #e6f9ff;
    overflow-y: scroll
}

a {
    text-decoration: none;
}
