* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-family: "Open Sans", Sans-Serif !important;
	margin-top: 8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	height: 100%;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	background-color: grey;
}

#usi_page {
	background-color: #e6f9ff;
	padding: 7px 17px;
	overflow: auto;
	height: calc(100vh - 175px);
	height: -o-calc(100vh - 175px);
	height: -webkit-calc(100vh - 175px);
	height: -moz-calc(100vh - 175px);
	overflow-y: scroll;
	position: relative;
}
@media only screen and (max-width: 600px) {
	#usi_page {
		padding: 1px 2px;
		height: calc(100vh - 90px);
		height: -o-calc(100vh - 90px);
		height: -webkit-calc(100vh - 90px);
		height: -moz-calc(100vh - 90px);
	}
}

#usi_header {
	position: relative;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	top: -125px;
	margin-top: 3px;
	left: -47px;
	width: 100%;
	max-width: 1200px;
	background: #0d3f00 url("img/header.jpg") right no-repeat;
	background-size: contain;
	opacity: 0;
}

#usi_header img {
	-webkit-mask-image: linear-gradient(
		45deg,
		#000 45%,
		rgba(0, 0, 0, 0.2) 80%,
		#000 95%
	);
	mask-image: linear-gradient(
		45deg,
		#000 45%,
		rgba(0, 0, 0, 0.2) 80%,
		#000 95%
	);
	-webkit-mask-size: 800%;
	mask-size: 800%;
	-webkit-mask-position: 0;
	mask-position: 0;
}

#usi_header img:hover {
	transition:
		mask-position 1s ease,
		-webkit-mask-position 1s ease;
	-webkit-mask-position: 120%;
	mask-position: 120%;
	opacity: 1;
}

polygon {
	-webkit-transition: fill-opacity 4s;
	transition: fill-opacity 4s;
}

#hdr {
	margin-top: 8px;
	width: 100%;
	//height: 125px;
	background-color: #ffffff;
	overflow: hidden;
}

#bar {
	width: 100%;
	height: 33px;
	background-color: #ffffff;
	position: relative;
	display: inline-block;
	z-index: 10;
}

#left-right {
	height: 27px;
	width: 100%;
	max-width: 1200px;
	position: relative;
	background-color: #0d3f00;
	-webkit-transition: left 0.4s ease;
	transition: left 0.4s ease;
	color: #ffffff;
	margin-top: 3px;
	left: 400px;
	padding-left: 17px;
	padding-top: 2px;
	font-size: 14pt;
	font-weight: 700;
	opacity: 0;
}

#left-right a {
	color: white;
	-webkit-mask-image: linear-gradient(
		45deg,
		#000 45%,
		rgba(0, 0, 0, 0.2) 80%,
		#000 95%
	);
	mask-image: linear-gradient(
		45deg,
		#000 45%,
		rgba(0, 0, 0, 0.2) 80%,
		#000 95%
	);
	-webkit-mask-size: 800%;
	mask-size: 800%;
	-webkit-mask-position: 0;
	mask-position: 0;
}

a {
	text-decoration: none;
}

p {
	font-size: 11pt;
}

#bar:hover #menu {
	display: block;
	height: 320px;
}

#bar:hover #left-right a {
	transition:
		mask-position 1s ease,
		-webkit-mask-position 1s ease;
	-webkit-mask-position: 120%;
	mask-position: 120%;
	opacity: 1;
}

#menu {
	display: block;
	position: absolute;
	background: rgba(9, 53, 0, 0.87);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 17;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	height: 0;
	overflow: hidden;
}

#menu a {
	color: #ffffff;
	padding: 12px 17px;
	text-decoration: none;
	display: block;
	font-size: 12pt;
	font-weight: 700;
}

#menu a:hover {
	background: rgba(200, 200, 200, 0.7);
}

.ham-menu {
	display: inline-block;
	position: relative;
	margin: 3px;
}

.ham-menu,
.ham-menu::before,
.ham-menu::after {
	width: 20px;
	height: 5px;
	border-radius: 3px;
	background-color: white;
}

.ham-menu::before,
.ham-menu::after {
	content: "";
	display: block;
	position: absolute;
}

.ham-menu::before {
	bottom: 130%;
}

.ham-menu::after {
	top: 130%;
}

#home_content {
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	color: #f1f1f1;
	width: 70%;
	padding: 10px;
}

#home_content h1 {
	margin-block: 7px;
	font-size: 17pt;
}

#home_content p {
	margin-block: 7px;
}

#home_video {
	position: relative;
	width: 100%;
	min-width: 400px;
	min-height: 300px;
}

#map {
	min-height: calc(100vh - 200px);
	z-index: 1;
}

.lstItem {
	display: inline-block;
	padding: 0px;
	margin: 0 4px 4px 0px;
	background-color: white;
	border-color: #0d3f00;
	border-width: 2px;
	border-style: solid;
	overflow: hidden;
	width: calc(50% - 7px);
	width: -webkit-calc(50% - 7px);
	width: -moz-calc(50% - 7px);
	min-height: 170px;
	border-radius: 2px;
}
@media (max-width: 900px) {
	.lstItem {
		width: 100%;
		min-height: 100px;
	}
}

.lstImg {
	float: left;
	min-width: 120px;
	overflow: hidden;
	position: relative;
	z-index: 7;
}

.lstImg img {
	max-height: 99px;
	max-width: 120px;
	-webkit-mask-image: linear-gradient(
		45deg,
		#000 45%,
		rgba(0, 0, 0, 0.2) 80%,
		#000 95%
	);
	mask-image: linear-gradient(
		45deg,
		#000 45%,
		rgba(0, 0, 0, 0.2) 80%,
		#000 95%
	);
	-webkit-mask-size: 800%;
	mask-size: 800%;
	-webkit-mask-position: 0;
	mask-position: 0;
}

.lstImg img:hover {
	transition:
		mask-position 1s ease,
		-webkit-mask-position 1s ease;
	-webkit-mask-position: 120%;
	mask-position: 120%;
	opacity: 1;
}

.lstEntry {
	float: left;
	font-size: 14px;
	padding-left: 20px;
	margin-bottom: 7px;
	vertical-align: top;
	width: calc(100% - 120px);
	width: -webkit-calc(100% - 120px);
	width: -moz-calc(100% - 120px);
}
.lstEntry h3 {
	color: #00365e;
	margin: 0;
	background-color: #0d3f00;
	color: white;
	height: 21px;
	margin-left: -140px;
	margin-bottom: 4px;
	z-index: 2;
	inline-size: 100vw;
	overflow: hidden;
}
.lstEntry h3 a {
	font-size: 17px;
	color: white;
	font-weight: 700;
	margin-left: 140px;
}
